########################
## Makefile
########################

build/

########################
## Clion
########################

.idea/
cmake-build-*/

########################
## Visual Studio
########################

ide/VS*/
